footer {
    min-height: 232px;
    background-color: $light-gray;
    padding-top: 49px;
    padding-bottom: 49px;

    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .footer-left {
            .footer-logo {
                color: $offer-font-color;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
            }

            .footer-callout {
                color: $gray;
                font-size: 16px;
            }

            .footer-social {
                a {
                    text-decoration: none;
                }
            }
        }

        .footer-links {
            display: flex;
            flex-wrap: wrap;
            gap: 48px;

            .footer-column {
                h4 {
                    font-size: 16px;
                    font-weight: 600;
                    color: $logo-font-color;
                    margin-bottom: 16px;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: $primary-font-color;
                    margin-bottom: 12px;
                    font-size: 16px;
                }
            }
        }
    }

    .copyright {
        color: $gray;
        font-size: 16px;
        font-weight: 400;
        min-height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: $small-media-query) {
    footer {
        .footer-top {
            gap: 16px;
            padding-top: 24px;
            padding-bottom: 24px;
            flex-direction: column;
        }
    }
}
