.hero {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;

    .hero-content {
    width: 528px;
    min-height: 278px;
    background-color:$white;

        .hero-content-header{
        line-height: 48px;
        font-weight: 500;
        font-size: 48px;
        color: $primary-font-color;
        }

        .hero-content-subheader{
        font-size: 18px;
        color: $primary-font-color;
        line-height: 28px;
        }

        .hero-buttons{
        margin-top: 24px;

            a{
            text-decoration: none;
            font-size: 16px;
            }
        }
    }
    .hero-image {
    width: 528px;
    height: 352px;
    }
}



