//Site Sizes
$site-max-width: 1200px;
$big-media-query: 1250px;
$larger-media-query: 1120px;
$medium-media-query: 1000px;
$small-media-query: 680px;

//Font Colors
$primary-font-color: #0A0A0ACC;
$secondary-font-color: #0A0A0AB2;
$white: #FFFFFF;
$black: #000000;
$logo-font-color: #030213;
$offer-font-color: #0A0A0A;
$gray: #0A0A0AB2; //community-footer-hero
$light-gray: #ECECF0; 


// Button Color Variables
$primary-button-background-color: #030213;
$secondary-button-background-color: #ECEEF2;